site_name: HandsOnK8 Notes
theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: indigo
      accent: deep purple
    - scheme: slate
      primary: indigo
      accent: deep purple
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - footnotes
  - codehilite
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.tasklist
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Kubernetes Learning:
      - Section 1 - Installation: Section_1_installation.md
      - Section 2 - Pods: Section_2_pods.md
      - Section 3 - Services: Section_3_services.md
      - Section 4 - ReplicaSets: Section_4_replicasets.md
      - Section 5 - Deployments: Section_5_deployments.md
      - Section 6 - Networking: Section_6_networkandservicediscovery.md
  - Minikube:
      - Overview: minikube/basic_commands.md
      - Deployment Strategies: minikube/Deployment-strategies/
  - Troubleshooting:
      - Overview: Troubleshooting/index.md
      - Resource Name Empty: Troubleshooting/Resource_name_can't_be_empty.md
      - ReplicaSet Issues: Troubleshooting/Replicaset_wont_touch_me.md
      - Pod Recovery: Troubleshooting/Why_Pod_didn't_Came_back.md
  

